<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SWGPacket_Workshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SWGPacket_Workshop.Properties.Settings>
            <setting name="index" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="view" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="packet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="warn_filter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="search" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="search_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="search_last" serializeAs="String">
                <value />
            </setting>
            <setting name="update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="decimal_text" serializeAs="String">
                <value />
            </setting>
            <setting name="little_endian" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="send_clipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="profiling" serializeAs="String">
                <value>True</value>
            </setting>
        </SWGPacket_Workshop.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
